# 01 Import Libraries

In [3]:
# Importing Pandas, NumPy and OS libraries
import pandas as pd
import numpy as np
import os

# 02 Import Datasets as DataFrames

## Creating Paths

In [6]:
# Path Creation 
path = r'/Users/Andreas/Desktop/13-02-2025 Instacart Basket Analysis/02 Data'

In [7]:
# Checking Path
path

'/Users/Andreas/Desktop/13-02-2025 Instacart Basket Analysis/02 Data'

## Creating DataFrames

In [9]:
# Creating DataFrame For orders_products_prior.csv and orders_cleaned.csv
df_orders_prior = pd.read_csv(os.path.join(path, 'Original Data', 'orders_products_prior.csv'),index_col = False)

In [10]:
# Creating DataFrame For orders_cleaned.csv
df_ords = pd.read_csv(os.path.join(path, 'Prepared Data', 'Orders Cleaned.csv'), index_col = False)

## Checking Output and Shape of df_orders_prior

In [21]:
# Checking The Output For df_orders_prior
df_orders_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [13]:
# Checking Shape of df_orders_prior
df_orders_prior.shape

(32434489, 4)

## Checking Output and Shape of df_ords

In [15]:
# Checking The Output Of df_ords
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_without_ordering
0,0,2539329,1,1,2,8,0.0
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [27]:
# Checking Shape Of df_ords
df_ords.shape

(3421083, 7)

# 03 Merging Of DataFrames

In [34]:
# Merging of df_ords and df_orders_prior on order_id column
df_merged_large = df_ords.merge(df_orders_prior, on = 'order_id', indicator = True)

## Checking Output of df_merged_large

In [39]:
# Checking output of df_merged_large
df_merged_large.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_without_ordering,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,0.0,196,1,0,both
1,0,2539329,1,1,2,8,0.0,14084,2,0,both
2,0,2539329,1,1,2,8,0.0,12427,3,0,both
3,0,2539329,1,1,2,8,0.0,26088,4,0,both
4,0,2539329,1,1,2,8,0.0,26405,5,0,both

In [41]:
# Checking if Merge worked successfully
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

## !!ALWAYS CHECK WITH OUTER JOIN WHEN USING INNER TO CROSS CHECK FOR FULL MATCH!!

In [44]:
# Checking Shape of df_merged_large
df_merged_large.shape

(32434489, 11)

# 04 Exporting df_merged_large

Exporting to Pickle format

In [61]:
# Exporting df_merged_large as .pkl
df_merged_large.to_pickle(os.path.join(path, 'Prepared Data', 'orders_products_combined.pkl'))