# EXERCISE 4.6 (TASK)

# 01 Importing Libraries

In [5]:
# Importing pandas, numpy and os
import pandas as pd
import numpy as np
import os

# 02 Importing DataFrames

## Path Creation

In [8]:
# Creating path
path = r'/Users/Andreas/Desktop/13-02-2025 Instacart Basket Analysis/02 Data'

In [9]:
# Checking path
path

'/Users/Andreas/Desktop/13-02-2025 Instacart Basket Analysis/02 Data'

## Importing Dataframes

In [11]:
# Importing Products Cleaned.csv
df_prods = pd.read_csv(os.path.join(path, 
                                    'Prepared Data', 
                                    'Products Cleaned.csv'), 
                                       index_col = False)

In [12]:
# Importing orders_products_combined.pkl
df_ords_prods_comb = pd.read_pickle(os.path.join(path, 
                                                 'Prepared Data', 
                                                 'orders_products_combined.pkl'))

# 03 Output check For DataFrames

## Output checks df_prods

In [15]:
# Output check for df_prods
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [16]:
# Shape df_prods
df_prods.shape

(49672, 6)

## Output checks df_ords_prods_comb

In [18]:
# Output check for df_ords_prods_comb
df_ords_prods_comb.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_without_ordering,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,0.0,196,1,0,both
1,0,2539329,1,1,2,8,0.0,14084,2,0,both
2,0,2539329,1,1,2,8,0.0,12427,3,0,both
3,0,2539329,1,1,2,8,0.0,26088,4,0,both
4,0,2539329,1,1,2,8,0.0,26405,5,0,both

In [19]:
# Shape df_ords_prods_comb
df_ords_prods_comb.shape

(32434489, 11)

# 04 Merging of Dataframes

## Because of _merge flag it was giving me an error so i decided instead of adding a new indicator i would first remove the old one before performing the merge

In [22]:
# Removing '_merge' from df_ords_prods_comb
df_ords_prods_comb =  df_ords_prods_comb.drop(columns = '_merge')

In [23]:
# Check output
df_ords_prods_comb.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_without_ordering,product_id,add_to_cart_order,reordered
0,0,2539329,1,1,2,8,0.0,196,1,0
1,0,2539329,1,1,2,8,0.0,14084,2,0
2,0,2539329,1,1,2,8,0.0,12427,3,0
3,0,2539329,1,1,2,8,0.0,26088,4,0
4,0,2539329,1,1,2,8,0.0,26405,5,0

In [29]:
# Shape check
df_ords_prods_comb.shape

(32434489, 10)

## Performing Merge

In [31]:
# Performing Merge on Unnamed: 0 and product_id
df_ords_prods_merge =  df_prods.merge(df_ords_prods_comb, 
                                                on = 'product_id',
                                                indicator = True)

# 05 Output checks of df_ords_prods_merge

In [34]:
#output check
df_ords_prods_merge.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_without_ordering,add_to_cart_order,reordered,_merge
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,28,6,11,3.0,5,0,both
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,30,6,17,20.0,1,1,both
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,2,0,21,6.0,20,0,both
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,1,3,13,0.0,10,0,both
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,3,4,17,9.0,11,1,both

In [36]:
#shape
df_ords_prods_merge.shape

(32404859, 16)

## Removing Unwanted Columns

In [58]:
# Removing unnamed:0 x and y
df_ords_prods_merge = df_ords_prods_merge.drop(columns = ['Unnamed: 0_x', 'Unnamed: 0_y'])

In [60]:
#Checking output
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_without_ordering,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,0.0,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both

In [66]:
#Checking Shape
df_ords_prods_merge.shape

(32404859, 14)

# Exporting to Pickle

In [ ]:
#creating path
path = r'/Users/Andreas/Desktop/13-02-2025 Instacart Basket Analysis/02 Data'

In [84]:
df_ords_prods_merge.to_pickle(os.path.join(path, 'Prepared Data', 'orders_products_merged.pkl'))